<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.cn.dao.CustomerDao" >  
  <resultMap id="BaseResultMap" type="com.cn.entity.Customer" >  
    <id column="ID" property="id" jdbcType="INTEGER" />  
    <result column="field_name" property="fieldName" jdbcType="VARCHAR" />  
    <result column="sort_number" property="sortNumber" jdbcType="INTEGER" />  
    <result column="size" property="size" jdbcType="DECIMAL" />  
    <result column="is_valid" property="isValid" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />  
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />  
    <result column="modify_time" property="modifyTime" jdbcType="DATE" />
    <result column="version" property="version" jdbcType="VARCHAR" />  
    
  </resultMap>  
  <select id="selectAllUser" resultType="com.cn.entity.Customer">  
    select * FROM print_field;  
  </select>  
</mapper>