<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
                "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>  
<!--之后用于测试-->  
        <!-- <typeAlias type="com.cn.entity.Customer.java" alias="Customer" /> -->
        <typeAlias type="com.cn.entity.PrintField.java" />  
    </typeAliases>  
</configuration>